# Node modules
frontend/node_modules/
backend/node_modules/

# Logs
*.log

# Docker
*.env
docker-compose.override.yml

# OS-specific
.DS_Store
Thumbs.db

# Build outputs
frontend/.next
frontend/out
backend/dist
